body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  background:
    linear-gradient(180deg,
      #24135f,
      #120f35);

  color: white;

  font-family:
    "Segoe UI",
    sans-serif;
}

.screen {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;

  padding: 0 20px;

  gap: 20px;
}

.hero {
  position: relative;

  text-align: center;

  overflow: hidden;

  width: 100%;
  height: 550px;
}

.title {
  position: absolute;

  top: 360px;

  left: 50%;

  transform: translateX(-50%);

  white-space: nowrap;

  font-size: 3rem;

  font-weight: 900;

  z-index: 4
}

h1 {
  font-size: 2.5rem;
  font-weight: 750;
  margin-top: -20px;

  text-shadow:
    0 0 10px rgba(255, 255, 255, .5),
    0 0 30px rgba(255, 215, 0, .3);
}

.stars {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 1600px;
  max-width: none;

  z-index: 0;

  pointer-events: none;
}

.moon {
  width: 500px;

  display: block;

  margin: -220px auto 0;

  position: absolute;

  z-index: 1
}

.rock {
  width: 420px;

  position: absolute;

  left: 50%;
  top: 135px;

  transform: translateX(-50%);

  z-index: 2;
}

.wolf {
  width: 500px;

  position: absolute;

  top: -150px;

  left: 50%;

  transform: translateX(-50%);

  z-index: 3;
}

.hidden {

  display: none;
}

button {
  width: 280px;

  padding: 16px;

  border: none;

  border-radius: 20px;

  font-size: 20px;

  font-weight: bold;

  cursor: pointer;

  transition: .3s;
}

/* オレンジのボタン */
#create-room-button {

  width: 280px;
  padding: 16px;
  background:
    linear-gradient(180deg,
      #f08a00 0%,
      #e06d00 55%,
      #c95a00 100%);
  color: white;
  border-radius: 20px;
  box-shadow:
    0 0 15px rgba(255, 140, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255,
      180,
      0,
      0.5);
  backdrop-filter: blur(4px);
  transition: all 0.3s;
  font-family: "Zen Kaku Gothic New",
    sans-serif;
  font-size: 1.125rem;

  position: relative;
  top: -100px;
}

#create-room-button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 25px rgba(111, 66, 193, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.12);
}

/* 下のボタン */
#join-room-button {
  width: 280px;
  padding: 16px;
  background:
    linear-gradient(135deg,
      #4b2c78 0%,
      #39205f 45%,
      #23234a 100%);

  color: #fff8e7;

  border-radius: 20px;

  border: 1px solid rgba(255, 140, 0, 0.25);

  box-shadow:
    0 0 15px rgba(111, 66, 193, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);

  transition: all 0.3s;

  font-family: "Zen Kaku Gothic New", sans-serif;

  font-size: 1.125rem;

  position: relative;
  top: -100px;
}

#join-room-button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 25px rgba(111, 66, 193, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.12);
}

#waiting-screen {
  position: relative;
  top: -30px;
}

#waiting-screen h2 {
  font-size: 2rem;
  margin-top: 40px;
}

.ornament {
  width: 180px;
  display: block;
  margin: -80px auto 30px;

  opacity: 0.8;
  filter: brightness(4);
}

.room-label {

  font-size: 1.2rem;

  letter-spacing: 4px;

  color: #ffe7a3;
  text-shadow:
    0 0 5px rgba(255, 231, 163, .6),
    0 0 15px rgba(255, 215, 90, .4);

  margin: 0;

  position: relative;
  top: -90px;
}

.room-code {

  width: fit-content;
  min-width: 300px;

  padding: 5px 40px;

  display: flex;
  justify-content: center;
  /* 横中央 */
  align-items: center;
  /* 縦中央 */
  text-align: center;

  border-radius: 30px;

  background:
    linear-gradient(135deg,
      rgba(60, 40, 150, .8),
      rgba(40, 20, 100, .8));

  border:
    1px solid rgba(255, 255, 255, .08);

  font-size: 4rem;

  letter-spacing: 40px;

  font-weight: 350;

  position: relative;
  top: -90px;
}

.room-card {
  width: 500px;

  text-shadow:
    0 0 8px rgba(255, 231, 163, .5);

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 20px;


}


.player-card {

  width: 420px;

  background:
    rgba(30, 20, 80, .6);

  border-radius: 20px;

  padding: 25px;

  border:
    1px solid rgba(255, 255, 255, .1);

  backdrop-filter: blur(8px);

  position: relative;
  top: -90px;
}

.player-card h3 {
  color: #ffe7a3;
  text-shadow:
    0 0 5px rgba(255, 231, 163, .6),
    0 0 15px rgba(255, 215, 90, .4);

  font-weight: 400;

  position: relative;
  top: -30px;
}


.player-card ul {

  list-style: none;

  padding: 0;

  margin: 0;

  position: relative;
  top: -30px;
}

.player-card li {

  padding: 12px;

  border-radius: 12px;

  margin-top: 10px;

  background:
    rgba(255, 255, 255, .05);
}

#start-game-button {

  width: 420px;

  padding: 10px 0;

  border: 1px solid rgba(255, 255,
      255,
      0.15);

  backdrop-filter: blur(6px);

  border-radius: 20px;

  font-size: 2rem;

  font-weight: bold;

  cursor: pointer;

  transition: all 0.3s ease;

  color: white;

  background:
    linear-gradient(180deg,
      rgba(255, 170, 50, 0.8),
      rgba(230, 110, 0, 0.7));

  box-shadow:
    0 0 15px rgba(255, 140, 0, 0.2);

  position: relative;
  top: -10px;
}

#start-game-button:hover {

  transform: translateY(-4px);

  box-shadow:
    0 0 15px rgba(255, 165, 0, .4),
    0 0 30px rgba(255, 165, 0, .2);
}

.card {

  color: #ff9800;

  background: white;

  padding: 30px;

  border-radius: 10px;

  font-size: 32px;
}

#countdown {

  font-size: 60px;

  font-weight: bold;

  color: #ff9800;

  margin-top: 10px;
}

#discussion-timer {

  font-size: 100px;

  font-weight: bold;

  text-align: center;
}

.hidden {
  display: none;
}

#vote-list {

  display: flex;

  flex-direction: column;

  gap: 15px;

  margin: 20px 0;
}

.hidden {
  display: none;
}

#title-screen {
  display: none;
}

#waiting-screen {
  display: flex;
}
